# Python - Input Statements

<b>Python Inputs<b>

The input function is a simple way to get data from user. Here is example :

In [ ]:
input('What is your name?')

What is your name? Sai

'Sai'

The string specified in the input fuction serves as message to the user about what needs to be keyed in. Whatever is entered
by user is treated as string only. If number is entered by user, still it will be considered as string. For further processing
it needs to be type casted to the appropriate data type.

In [ ]:
input('What is your age?')

What is your age?34

'34'

The user input can be saved as part of variable.

variable_name = input('message to the user')

In [ ]:
name = input('What is your name?')
print(name)

What is your name? Ram

Ram

In [ ]:
name = input('What is your name?')
print("Welcome", name)

What is your name?Pravin
Welcome Pravin

<b>Check type of input variable <b>

In [ ]:
type(name)

str

In [ ]:
age = input('What is your age?')
print("You have entered age as ", age)
print("Type : " , type(age))
type(age)

What is your age? 56

You have entered age as  56
Type :  <class 'str'>

str

<b> Convert type of input variable <b>

In [ ]:
age = input('What is your age?')
modified_age = int(age)
print("You have entered age as ", modified_age)
print("Type : " , type(modified_age))

What is your age? 45

You have entered age as  45
Type :  <class 'int'>

In [ ]:
salary = input('What is your salary?')
modified_salary = float(salary)
print("You have entered salary as ", modified_salary)
print("Type : " , type(modified_salary))

What is your salary? 67859

You have entered salary as  67859.0
Type :  <class 'float'>

<b> Using eval <b>

The eval function convertes the text entered by user into a number without explicity typecasting.

In [ ]:
my_age = eval(input('What is your age?\n'))
print("You have entered age as ", my_age)
print("Type : " , type(my_age))

What is your age?
 89

You have entered age as  89
Type :  <class 'int'>

In [ ]:
my_salary = eval(input('What is your salary?\n'))
print("You have entered salary as ", my_salary)
print("Type : " , type(my_salary))

What is your salary?
 789.89

You have entered salary as  789.89
Type :  <class 'float'>

In [ ]:
my_total_marks = eval(input('Enter your marks\n'))
#Enter an expression like 23 + 34 + 45
print("You have entered age as ", my_total_marks)

Enter your marks
 576+567+24.0

You have entered age as  1167.0

<b>Exercise <b>

Q1. Ask the user to enter the number and then print its squares and cubes.

In [ ]:
number=int(input("enter a number"))
square=number**2
cube=number**3
print("square of the number",square)
print("cube of the number",cube)

enter a number4
square of the number 16
cube of the number 64

Q2. Write a program that asks user to input three numbers with separate input statements. Use the variable named total to store the sum of those numbers and avg to store the average of those nummbers.
Then output the numbers along with the total and average.

In [ ]:
num1=int(input("enter a number"))
num2=int(input("enter a number"))
num3=int(input("enter a number"))
total=num1+num2+num3
avg=total/3
print("total",total)
print("average",avg)

enter a number1
enter a number3
enter a number5
total 9
average 3.0

Q3. Create a salary estimator. Ask user for the basic salary, using it compute HRA as 10% of basic salary, add conveyance allowance as Rs 3500 to it.
Output all the salary components on the console.

In [ ]:
salary=eval(input("enter basic salary"))
hra=salary*0.1
conveyance=3500
total=salary+hra+conveyance
print("salary",salary)
print("hra",hra)
print('conveyance',conveyance)
print("total",total)

enter basic salary20000
salary 20000
hra 2000.0
conveyance 3500
total 25500.0