# Parameters and Arguments

<b> Arguments<b>

Arguments are values passed to the functions when function is called.

<b>Parameters<b>

Parameters are the values received by the function when it is called.

The variable names corresponding to the arguments and parameters can be same or different. For example, in the below example,both arguments and parameters are having same name but their scopes are different.

In [ ]:
def print_lines(number): #number is parameter
    for i in range(number):
        print("Line ", i , "    ")

In [ ]:
number = 5
print_lines(number)  # number is argument

Line  0
Line  1
Line  2
Line  3
Line  4

Argument name and parameter names can be different.

In [ ]:
def print_stars(times): #times is parameter
    for i in range(times):
        print("*" * i)

In [ ]:
number_of_times = 5 # number_of_times is argument
print_stars(number_of_times)

*
**
***
****

One can call functions with multiple arguments.

In [ ]:
def print_characters(character, times) :
    for i in range(times):
        print(character * i )

In [ ]:
print_characters("#", 5)  # function called with multiple arguments

#
##
###
####

Parameter names can be use while calling the functions.

In [ ]:
print_characters(character="*", times = 5)  # function called with multiple arguments

*
**
***
****

Parameter names can be use while calling the functions and their order can also be changed.

In [ ]:
print_characters(times = 4, character="@", )  # function called with multiple arguments

<b> Default parameters<b>

One can specify default value for parameter. This makes it optional. If caller sets value for it, then that value is used, otherwise default value is used.

In [ ]:
#times has default value as 2
def multiply(number, times = 2):
    return number * times

In [ ]:
#If times is not specified while calling multuply function , default of 2 is used
multiply(5)

10

In [ ]:
#If user specifies value for times then thats used
multiply(5, 4)

20

Default parameters needs to be specified at the end of parameter list, after all non default parameters.

In [ ]:
def add_and_multiply(number1, number2, number3, times=4):
    return (number1 + number2 + number3) * times

In [ ]:
#user does not specify the argument value
add_and_multiply(1, 2, 3)

24

In [ ]:
#user specified value for default parameter as well
add_and_multiply(1, 2, 3, 5)

30

 <b> Argument modification<b>

Based on whether argument type is mutable or immutable, the passed argument is changed in the function.

If the argument type is immutable like integer, string then it will not get modified in the called function as its immutable.

In [ ]:
def add(x):
    return x + 1

In [ ]:
a = 5
print("a before function call  : ", a)
add(a)
print("a after function call  : ", a)

result = add(5)

print(result)

a before function call  :  5
a after function call  :  5
6

In [ ]:
def to_lower(string):
    return string.lower()

In [ ]:
string = "TeSt"
print("string before function call  : ", string)
resultstr = to_lower(string)
print("string after function call  : ", resultstr)

string before function call  :  TeSt
string after function call  :  test

If the argument type is mutable like list, then it can get modified in the called function as its mutable.

In [ ]:
def add_element(list1):
    list1.append(5)

In [ ]:
list1 = [1, 2, 3, 4]
print("list before function call : ", list1)
add_element(list1)
print("list after function call : ", list1)

list before function call :  [1, 2, 3, 4]
list after function call :  [1, 2, 3, 4, 5]

<b> Unknown number of parameters <b>

If number of parameters passed to the function are unknown then "*" can be used in the parameter list to specify that number of parameters are unknown.

Lets define a product function that accepts variable number of arguments as input and returns product of those numbers.

In [ ]:
def product(*times):
    prod = 1
    for i in times:
        prod = prod * i
    return prod

In [ ]:
#Calling product with three numbers
product(2, 3, 4)

24

In [ ]:
#Calling product with two numbers
product(2, 3)

6

<b> Returning multiple values from function <b>

Lets write a function that returns the min, max values from a function that accepts list of numbers as input.

In [ ]:
def get_min_max(list1):
    min1 = min(list1)
    max1 = max(list1)
    return min1, max1

In [ ]:
list1 = [ 23, 45, 1, 56, 40]
minimum, maximum = get_min_max(list1)
print('minimum   ', minimum)
print('maximum   ', maximum)

minimum    1
maximum    56

# Exercise

Q1. Write a function called closest that takes a list of numbers L and a number n and returns the largest element in L that is not larger than n. For instance, if L=[1, 6, 3, 9, 11] and n =8, then the function should return 6, because 6 is the closest thing in L to 8 that is not larger than 8.

In [1]:
# Try it here
def closest(L, n):
   closest_num = None
   for num in L:
      if num <= n:
          if closest_num is None or num > closest_num:
                closest_num = num
   return closest_num

L = [1, 6, 3, 9, 11]
n = 8
result = closest(L, n)
print(result)

6

Q2. Write a function call one_way that takes two strings and returns True if the strings are of the same length and differ in exactly one letter, like bike/hike or water/wafer.

In [ ]:
# Try it here
def one_way(string1, string2):
    if len(string1) != len(string2):
        return False
    difference_count = 0
    for char1, char2 in zip(string1, string2):
        if char1 != char2:
            difference_count += 1
            if difference_count > 1:
                return False
    return difference_count == 1
print(one_way("apple", "apply"))
print(one_way("hello", "hell"))

True
False

Q3. Recall that if s is string, then s.find('a') will find the location of fist a in s. The problem is that it does not find the location of every a. Write a function called findall that given a string and a single character, returns a list containing all of the locations of that character in the string. It should return an empty list if there are no occurences o fthe character in list.

In [ ]:
# Try it here
def findall(s, char):
    locations = []
    for index, current_char in enumerate(s):
        if current_char == char:
            locations.append(index)
    return locations
print(findall("hello", "l"))

[2, 3]

# Solution

In [ ]:
#Solution1

In [ ]:
#Solution2

In [ ]:
#Solution3