# NumPy Computations

In [2]:
import numpy as np

In [6]:
l1 = [ 1, 2, 3, 4,5 ]
a1 = np.array(l1)
l1
a1

array([1, 2, 3, 4, 5])

In [8]:
l2 = [[1,2,3], [4, 5, 6]]
a2 = np.array(l2)
a2

array([[1, 2, 3],
       [4, 5, 6]])

<b> Ways to access the array elements<b>

In [10]:
a1

array([1, 2, 3, 4, 5])

In [12]:
a1[0]

1

In [14]:
a1[2]

3

In [16]:
a1[-1]

5

In [18]:
a1[3] = 4444
a1

array([   1,    2,    3, 4444,    5])

In [20]:
a1

array([   1,    2,    3, 4444,    5])

In [22]:
a1[:]

array([   1,    2,    3, 4444,    5])

In [24]:
a1[:2]

array([1, 2])

In [26]:
a1[3:]

array([4444,    5])

In [28]:
a1[::2]

array([1, 3, 5])

In [30]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [32]:
a2[0,0] r0, c0

1

In [34]:
a2[0,1]

2

In [36]:
a2[1,2]

6

In [38]:
a2[:, : ]

array([[1, 2, 3],
       [4, 5, 6]])

In [50]:
a2[:0, : 3]

array([], shape=(0, 3), dtype=int32)

In [52]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [54]:
a1

array([   1,    2,    3, 4444,    5])

In [56]:
a_sub = a1[:3]
a_sub

array([1, 2, 3])

In [58]:
a_sub[0] = 89
a_sub

array([34,  2,  3])

In [24]:
a1

array([  34,    2,    3, 4444,    5])

In [60]:
a_copy = a1.copy()
a_copy

array([  34,    2,    3, 4444,    5])

In [64]:
a_copy[0] = 4567
print(a_copy)

print(a1)

[4567    2    3 4444    5]
[  34    2    3 4444    5]

In [66]:
a1[0]=789

In [68]:
a_copy

array([4567,    2,    3, 4444,    5])

<b> Reshaping<b>

In [75]:
a1 
print("a1---->", a1)
print(a1.shape)
print(a1.ndim)

a1----> [ 789    2    3 4444    5]
(5,)
1

In [73]:
a1_reshaped = a1.reshape(5, 1)
print("a1_reshaped-----> \n", a1_reshaped)
print("\n", a1_reshaped.shape)
print(a1_reshaped.ndim)

a1_reshaped----->
 [[ 789]
 [   2]
 [   3]
 [4444]
 [   5]]

 (5, 1)
2

In [77]:
a1_reshaped = a1.reshape(1, 5)
print("a1_reshaped-----> \n", a1_reshaped)
print("\n", a1_reshaped.shape)
print(a1_reshaped.ndim)

a1_reshaped----->
 [[ 789    2    3 4444    5]]

 (1, 5)
2

<b> Computations - Arithmetic <b>

In [79]:
a1

array([ 789,    2,    3, 4444,    5])

In [81]:
sum(a1)

5243

In [87]:
a11 = np.random.randint(1, 100, size=1000)
a11.size
a11

array([67, 80, 44, 79, 45, 45, 55,  9, 71, 82, 62, 65, 72, 39, 43,  1, 14,
       63,  7, 73, 29, 57, 37, 26, 65, 63, 13,  7, 14, 17, 90, 18, 95, 31,
        1, 68, 17, 18, 59, 58, 51, 31, 19, 77, 51,  1, 15,  1, 45, 81, 77,
       68, 37, 24, 67,  5, 31, 87, 68, 22, 39, 45, 39, 89, 24, 92, 25, 31,
        2, 29, 33, 85, 83, 15, 19, 84, 54, 50, 63, 73, 77, 63, 91, 27, 68,
       87, 56, 80, 14, 23, 77, 19, 80, 60, 34, 32, 73, 85, 31,  1, 43, 90,
       48, 57, 86, 52,  1, 80, 83, 60, 32, 65, 85, 41, 31, 62, 29, 62, 69,
       93, 34, 87, 31, 20, 80, 89,  2, 80, 29, 22, 54, 98, 29, 65, 90, 77,
       90, 90, 93, 63, 27,  9, 73, 42, 15, 76, 78, 38, 76, 67, 92, 81, 42,
       13, 90, 92, 35, 29, 89, 60,  9, 55, 74, 11,  5,  3, 75, 87,  2, 96,
       85, 41, 50, 73, 12, 67, 59, 33, 44, 43, 80, 49,  3, 66, 72, 25, 20,
       68, 51, 66, 16, 52, 84, 84, 33, 68, 42, 59, 38, 25,  9, 84, 25, 48,
       77, 41, 98, 57, 70, 50, 89, 30, 93, 36, 11, 86, 66,  5, 32, 21, 97,
       18, 40, 74, 56, 90, 58, 69, 66, 47, 92, 99, 74, 73, 86, 92, 95, 59,
       46, 93, 13, 32,  2, 58, 84, 28, 72, 30, 38, 38, 47, 34,  5, 90, 94,
       41, 94, 95, 77, 12, 24, 47, 79, 24, 31, 52, 10, 62, 73, 88, 26, 61,
       50, 73, 21, 70, 70, 54, 12, 43, 43, 27, 60, 24, 71, 20, 92, 90,  6,
       44, 20, 47, 17, 46, 97, 12, 20, 88, 78, 94, 89,  8, 77, 74, 32, 82,
       36, 92, 94, 37, 10, 13, 57,  1, 27, 34, 44, 51, 44, 11, 84, 20, 45,
       88, 14, 58, 62, 79,  9, 51, 19, 36, 39, 80, 85, 14, 93,  1, 62, 11,
       75, 18, 37, 96, 88, 54, 41,  3, 81, 56, 10, 59, 38, 37, 80, 18, 81,
       65, 41, 17, 50, 30, 69, 73, 83, 68, 34,  6, 54, 78, 72, 76, 40,  1,
       28,  5, 33, 88, 66, 71, 80, 80, 56, 77, 38, 27, 74, 14, 46, 76, 24,
       98, 70, 54, 51, 76, 46, 11, 72, 31, 12, 61, 58, 33, 95, 42, 43,  6,
       94, 94, 57, 48, 41, 25, 90, 28, 45, 71, 57, 49, 86, 92,  4,  1, 86,
       65, 43,  9, 26, 40, 17,  2, 48,  7, 16, 82, 60, 62, 36, 61,  6, 31,
       75, 74, 98, 55, 12, 62, 32, 20, 24, 68,  2, 95, 21, 34, 95,  9, 26,
       41, 29, 26, 55, 69, 86, 53, 38, 21, 96, 26, 85, 95, 94, 99, 19, 60,
       78, 98, 10, 55, 62, 92, 49, 50,  5, 42, 19, 20, 70, 77, 16, 30,  6,
       28, 24, 81, 34, 66, 26, 90, 76, 85, 26, 76, 71, 13, 99, 27, 91, 13,
       13, 29, 43, 69,  5,  3, 49, 85, 65, 30, 86, 57, 86, 48, 95,  5, 37,
       81, 93, 20, 10, 61, 37, 72, 88, 11, 26, 16, 28, 74, 14, 68, 55, 58,
       90, 97, 73, 11, 46,  7, 97, 74, 33,  1,  8, 55, 38, 38, 92, 61, 16,
       23, 32,  4, 99, 10, 95,  1, 64, 52, 84, 66, 12, 66, 99, 78, 30, 56,
       75, 80, 19,  4, 94, 51, 70, 30,  2,  9, 84, 48, 64, 64, 76, 87, 76,
       50, 75, 76, 95, 84, 79, 76, 24, 35, 74, 91, 28, 50, 39, 90, 34, 20,
       33, 17,  4, 20, 89, 73, 88, 84, 88, 88, 90, 77, 70, 37, 72, 77, 49,
       23, 82, 21,  6, 33, 55, 30, 45, 80, 97, 48, 45, 71, 90, 85, 18,  4,
       58, 42, 57,  6, 57, 68, 54, 83,  5, 15, 71,  1, 81, 72, 63, 76, 37,
       42, 17, 60, 68, 51,  7, 10, 65, 50, 41, 67, 42, 35, 63,  1,  5, 63,
       69, 62, 61, 51, 72, 52, 21, 19, 78, 92, 12,  3, 58, 80, 16, 63, 67,
       55, 71,  9, 61, 42, 92, 60, 40, 54, 56, 28, 21, 53, 51,  2, 85, 91,
       67, 55, 29, 80, 13, 53, 59, 12, 69, 58, 19, 76, 19,  5, 59, 10, 87,
       61,  3, 46, 43, 32, 99, 83, 55, 30, 15, 37, 31, 24, 37, 54,  4, 93,
       91, 29, 61, 39, 88, 65, 96, 82,  4, 88, 27, 51, 76, 67, 92, 28, 85,
       36, 77, 94, 43, 32, 54, 27, 88, 87, 23, 57, 61, 87, 83, 93, 11,  2,
       28, 41,  4, 24,  7, 63, 89, 53, 15, 19, 48, 68, 11, 99, 62, 85, 99,
       35, 75, 98, 87, 71, 12,  5, 92,  1, 31, 76, 26, 68, 42, 36, 72, 81,
       65,  5, 42, 23, 83, 83, 59, 49, 89, 64, 99, 60, 15, 48, 60, 62,  8,
       60, 47, 68,  1, 43, 37, 43, 73, 46, 59, 78, 77, 87, 27, 88, 77, 46,
       23, 77, 63, 34, 79, 84, 85, 24, 53, 28, 74,  2, 53, 44, 27, 56, 84,
       78, 21, 58, 27,  4, 43, 31, 85, 56, 60, 47, 60, 35, 36, 42,  7, 16,
       32, 72, 50, 85, 90, 42, 80, 97, 15, 80,  3, 58, 32, 12, 72, 76, 56,
       67, 64, 20, 63,  3, 59, 65, 23, 92, 68, 56, 74, 21, 22, 68, 15, 65,
        7, 97, 97, 99, 62, 70, 29, 73, 85, 89,  8, 61, 91, 27, 32, 60,  5,
       22, 65, 81,  4,  1, 24, 43, 65, 10, 31, 68, 78, 76, 10, 77, 32, 59,
        3, 69, 85, 18, 25, 94, 56, 21,  9, 70, 26, 52, 51, 85, 85, 73, 19,
        8, 15, 15, 27, 89, 89, 83, 31, 84, 40, 34, 85, 36, 72, 33, 30, 74,
       99, 68, 58, 29, 98, 29, 79, 30, 78, 25, 48, 98, 74, 16])

In [89]:
sum(a11)

51192

In [91]:
np.sum(a11)

51192

In [93]:
%timeit sum(a11)

130 μs ± 13.4 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [47]:
%timeit np.sum(a11)

3.83 µs ± 171 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
a11

In [95]:
a1

array([ 789,    2,    3, 4444,    5])

In [143]:
a1 + 5

array([ 794,    7,    8, 4449,   10])

In [99]:
a1 ** 2

array([  622521,        4,        9, 19749136,       25])

In [101]:
np.add(a1, 5)

array([ 794,    7,    8, 4449,   10])

In [103]:
a1 * 4

array([ 3156,     8,    12, 17776,    20])

In [105]:
np.power(a1, 3)

array([ 491169069,          8,         27, 1865814464,        125],
      dtype=int32)

In [107]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [109]:
a2 + 3

array([[4, 5, 6],
       [7, 8, 9]])

In [111]:
a2 - 5

array([[-4, -3, -2],
       [-1,  0,  1]])

In [121]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [115]:
np.sum(a2)

21

In [123]:
np.sum(a2, axis=0) # For tomorrow

array([5, 7, 9])

<b>If we calculate np.sum(a2, axis=0), we are summing along the rows (column-wise summation).</b> <br>

Column-wise Summation (axis=0): <br>

First column: 1+4=5 <br>
Second column: 2+5=7 <br>
Third column: 3+6=9

In [125]:
np.sum(a2, axis=1)

array([ 6, 15])

<b>If we calculate np.sum(a2, axis=1), we are summing along the columns (row-wise summation)..</b> <br>

Column-wise Summation (axis=0): <br>

First row: 1+2+3=6 <br>
Second row: 4+5+6= 15 <br>

<b>Computations - Comparisons<b>

In [131]:
a1

array([ 789,    2,    3, 4444,    5])

In [66]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [67]:
type(a2)

numpy.ndarray

In [127]:
a1 == 5

array([False, False, False, False,  True])

In [129]:
a1 != 45

array([ True,  True,  True,  True,  True])

In [133]:
print("a1---->", a1)
np.sum(a1 == 5)

a1----> [ 789    2    3 4444    5]

1

In [135]:
np.sum(a1)

5243

In [139]:
a1+5

array([ 794,    7,    8, 4449,   10])

In [141]:
np.sum(a1)+5

5248

In [149]:
np.sum(a1 < 500)

3

In [153]:
print("a1---->", a1)
np.all(a1 < 5000)

a1----> [ 789    2    3 4444    5]

True

In [151]:
a1

array([ 789,    2,    3, 4444,    5])

In [155]:
np.any(a1 > 5000)

False

In [157]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [159]:
np.sum(a2 < 100 )

6

In [80]:
np.greater(a1, 5)

array([ True, False, False,  True, False])

<b> Computations - Aggregations <b>

In [81]:
a1

array([  34,    2,    3, 4444,    5])

In [82]:
a1.sum()

4488

In [83]:
np.sum(a1)

4488

In [84]:
a1.min()

2

In [85]:
a1.max()

4444

In [86]:
a1.mean()

897.6

In [87]:
a1.std()

1773.2400401524887

In [88]:
a1.var()

3144380.24

In [89]:
a2.sum()

21

In [90]:
a2.min()

1

In [91]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [92]:
np.sum(a2, axis=0)

array([5, 7, 9])

In [93]:
np.sum(a2, axis=1)

array([ 6, 15])

In [94]:
np.min(a2, axis=0)

array([1, 2, 3])

<b>Computations - Boolean operators<b>

In [97]:
a1

array([  34,    2,    3, 4444,    5])

In [98]:
a1 > 5

array([ True, False, False,  True, False])

In [100]:
np.any(a1 > 5)

True

In [101]:
np.any((a1 > 5) & (a1 < 10) )

False

In [104]:
np.sum((a1 > 5) &  (a1 < 10))

0

In [105]:
np.sum( (a1 > 5 ) | (a1 < 10))

5