<b>List<b>

In [1]:
my_empty_list = []

In [2]:
type(my_empty_list)

list

In [5]:
len(my_empty_list)

0

In [7]:
my_list = [ 1, 1.4, 3, True, "string"]

In [9]:
len(my_list)

5

In [11]:
print(my_list[0], "      ", my_list[-5])

1        1

In [13]:
my_list[ : ]

[1, 1.4, 3, True, 'string']

In [15]:
my_list[ 0 : 4]

[1, 1.4, 3, True]

In [17]:
my_list[ : 2]

[1, 1.4]

In [19]:
my_list[2 :]

[3, True, 'string']

In [21]:
for element in my_list:
    print(element)

1
1.4
3
True
string

In [23]:
index = 0 
for element in my_list:
    print(index, " ", element)
    index = index + 1

0   1
1   1.4
2   3
3   True
4   string

In [25]:
my_list

[1, 1.4, 3, True, 'string']

In [27]:
my_list.append(5)

In [29]:
my_list

[1, 1.4, 3, True, 'string', 5]

In [42]:
my_list.append([7, 8])

In [44]:
my_list

[1, 1.4, 3, True, 'string', 5, [6, 7, 8], [6, 7, 8], [7, 8]]

In [56]:
my_list.extend([9, 10, "test"])
my_list

[1,
 1.4,
 3,
 True,
 'string',
 5,
 [6, 7, 8],
 [6, 7, 8],
 [7, 8],
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 'test']

In [58]:
my_list.insert(4, "New")
my_list

[1,
 1.4,
 3,
 True,
 'New',
 'string',
 5,
 [6, 7, 8],
 [6, 7, 8],
 [7, 8],
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 'test']

In [60]:
my_list[3] = "1234"
my_list

[1,
 1.4,
 3,
 '1234',
 'New',
 'string',
 5,
 [6, 7, 8],
 [6, 7, 8],
 [7, 8],
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 'test']

In [62]:
my_list.remove('New')

In [64]:
my_list

[1,
 1.4,
 3,
 '1234',
 'string',
 5,
 [6, 7, 8],
 [6, 7, 8],
 [7, 8],
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 'test']

In [66]:
my_list.remove('1234')

In [76]:
my_list

[1,
 1.4,
 3,
 5,
 [6, 7, 8],
 [6, 7, 8],
 [7, 8],
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 'test']

In [74]:
my_list.remove('string')

ValueError: list.remove(x): x not in list

In [78]:
my_list.remove([6, 7, 8])

In [80]:
my_list

[1,
 1.4,
 3,
 5,
 [6, 7, 8],
 [7, 8],
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 11,
 9,
 10,
 'test']

In [90]:
my_list = [ 1, 1.4, 3, True]

In [92]:
sum(my_list)

6.4

In [94]:
min(my_list)

1

In [96]:
max(my_list)

3

In [98]:
my_list

[1, 1.4, 3, True]

In [100]:
my_list.reverse()

In [102]:
my_list

[True, 3, 1.4, 1]

In [104]:
my_list.sort()

In [106]:
my_list

[True, 1, 1.4, 3]

In [114]:
my_list.sort(reverse=True)
my_list

[3, 1.4, True]

In [116]:
my_list.pop()

True

In [128]:
my_list

[3]

In [126]:
my_list.pop()

1.4

In [156]:
list1 = [ 1, 2, 3 ]
list2 = [ 4, 5, 6]

In [162]:
print("list1----->  " , list1)
print("list2----->  " , list2)

list1----->   [19, 2, 3]
list2----->   [4, 5, 6]

In [160]:
list1[0] = 19

In [144]:
list2 = list1

In [146]:
print("list1----->  " , list1)
print("list2----->  " , list2)

list1----->   [5, 2, 3]
list2----->   [5, 2, 3]

In [152]:
list1[0] = 19

In [154]:
list1, list2

([19, 2, 3], [19, 2, 3])

In [142]:
print("list1----->  " , list1)
print("list2----->  " , list2)

list1----->   [5, 2, 3]
list2----->   [4, 5, 6]

In [45]:
list3 = list1[ : ]

In [46]:
print("list1----->  " , list1)
print("list3----->  " , list3)

list1----->   [5, 2, 3]
list3----->   [5, 2, 3]

In [47]:
list1[0] = 10

In [48]:
print("list1----->  " , list1)
print("list3----->  " , list3)

list1----->   [10, 2, 3]
list3----->   [5, 2, 3]

In [49]:
list3[0] = 111

In [50]:
print("list1----->  " , list1)
print("list3----->  " , list3)

list1----->   [10, 2, 3]
list3----->   [111, 2, 3]

In [164]:
list1

[19, 2, 3]

In [166]:
10 in list1

False

In [168]:
10 not in list1

True

In [170]:
19 not in list1

False

<b> Set <b>

In [55]:
my_empty_set = {}

In [176]:
my_set_str = {"ss","rr","bb",90 }

In [178]:
my_set_str

{90, 'bb', 'rr', 'ss'}

In [192]:
my_set = { 1, 1, 4, 5, 6, 3, 1, 3, 9,100, 890 }

In [202]:
my_set.add(199)

In [210]:
my_set

{1, 3, 4, 5, 6, 100, 199}

In [206]:
my_set.remove(9)

In [208]:
len(my_set)

7

In [212]:
list1 = [ 1, 4, 2, 1, 4, 3, 5, 6, 7, 9, 3, 5, 0]

In [214]:
set1 = set(list1)
set1

{0, 1, 2, 3, 4, 5, 6, 7, 9}

In [216]:
list1_new = list(set1)
list1_new

[0, 1, 2, 3, 4, 5, 6, 7, 9]

In [62]:
type(list1_new)

list

In [63]:
set1

{0, 1, 2, 3, 4, 5, 6, 7, 9}

In [64]:
set1.add(56)

In [65]:
set1

{0, 1, 2, 3, 4, 5, 6, 7, 9, 56}

In [218]:
set1.pop()

0

In [67]:
set1.remove(6)

In [68]:
set1

{1, 2, 3, 4, 5, 7, 9, 56}

In [240]:
set1.remove(66)

KeyError: 66

In [236]:
set1.discard(66)

In [238]:
set1

{1, 2, 3, 4, 5, 7}

In [72]:
sorted(set1)

[1, 2, 3, 4, 5, 7, 9, 56]

In [242]:
set1 = { 1, 2, 3, 4, 5, 6}
set2 = { 4, 2, 8, 9, 10}
set3 = { 3, 4, 5}

In [244]:
set1 & set2 & set3

{4}

In [246]:
set1.intersection(set2)

{2, 4}

In [248]:
set1 | set2

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [256]:
len(set2)

5

In [250]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [252]:
set1 - set2

{1, 3, 5, 6}

In [254]:
set1.difference(set2)

{1, 3, 5, 6}

<b> Dictionary <b>

In [302]:
my_dict = { 1 : "pravin", 2 : "PYP", 3 : "pawar" ,4:"pawar" }

In [358]:
my_test ={8,6,7}

In [362]:
my_test1= set() #empty set

In [360]:
type(my_test)

set

In [364]:
type(my_test1)

set

In [300]:
my_dict

{1: 'pravin', 2: 'PYP', 3: 'pawariuoiuo'}

In [266]:
my_dict1 = { "key1": "value1", "key2": "value2"}

In [89]:
my_dict1

{'key1': 'value1', 'key2': 'value2'}

In [270]:
my_dict[1]

'pravin'

In [272]:
my_dict.get(2)

'PYP'

In [274]:
my_dict1.get("key1")

'value1'

In [276]:
my_dict1.get("key2")

'value2'

In [278]:
my_dict

{1: 'pravin', 2: 'PYP', 3: 'pawar'}

In [280]:
my_dict[4] = "xyz"

In [282]:
my_dict

{1: 'pravin', 2: 'PYP', 3: 'pawar', 4: 'xyz'}

In [284]:
my_dict

{1: 'pravin', 2: 'PYP', 3: 'pawar', 4: 'xyz'}

In [288]:
my_dict.keys()

dict_keys([1, 2, 3, 4])

In [101]:
my_dict.values()

dict_values(['pravin', 'PYP', 'pawar', 'xyz'])

In [102]:
my_dict.items()

dict_items([(1, 'pravin'), (2, 'PYP'), (3, 'pawar'), (4, 'xyz')])

In [103]:
my_dict

{1: 'pravin', 2: 'PYP', 3: 'pawar', 4: 'xyz'}

In [304]:
for key in my_dict.keys():
    print(key)

1
2
3
4

In [306]:
for value in my_dict.values():
    print(value)

pravin
PYP
pawar
pawar

In [308]:
for item in my_dict.items():
    print(item)

(1, 'pravin')
(2, 'PYP')
(3, 'pawar')
(4, 'pawar')

In [366]:
List1_key =[3.90,5,4,6,7,8]
Lists_value =["swe","th","jshghj"]

In [1]:
emp_dict = { List1_key[0] : [1, "Eulon", 'Musk', 6789], 2 : [2, "pyp", 'pp',7899]}

NameError: name 'List1_key' is not defined

In [ ]:
emp_dict

In [372]:
emp_dict = { 1 : [1, "pravin", 'pawar', 6789], 2 : [2, "pyp", 'pp',7899]}

In [108]:
emp_dict

{1: [1, 'pravin', 'pawar'], 2: [2, 'pyp', 'pp']}

In [374]:
emp_dict[3] = [ 3, 'xyx', 'xyx']

In [376]:
emp_dict

{1: [1, 'pravin', 'pawar', 6789],
 2: [2, 'pyp', 'pp', 7899],
 3: [3, 'xyx', 'xyx']}

In [111]:
emp_dict[2] = [ 2, 'pppp', 'pppp']

In [112]:
emp_dict

{1: [1, 'pravin', 'pawar'], 2: [2, 'pppp', 'pppp'], 3: [3, 'xyx', 'xyx']}

In [114]:
emp_dict[1]

[1, 'pravin', 'pawar']

In [115]:
type(emp_dict[1])

list

In [116]:
emp_dict[1][0]

1

In [117]:
emp_dict[1][1]

'pravin'